.input-container {
    display: flex;
    justify-content: center; 
    margin: 350px 250px 5px 250px;
}
.deepBlue {
  background-color:   #F64C72;
  border: 0;
  border-radius: 10%;
  /* font-weight: bold; */
}
