:root{
    --Darker-Blue: #242582;
    --Lighter-Blue: #2F2FA2;
    --Pinkish: #f64c72;
    --Lighter-Pinkinsh: rgba(246, 76, 114, 0.75);
    --Monotone-Purple: #554d67;
    --Unsaturated-Purple: #99738e;
  }
.title{
    margin: 50px 0px -10px 0px;
}
.form-wrapper{
    background-color: white;
    width: 50vw;
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: gray; 
}
.text-boxes{
    padding: 10px;
    margin: 40px auto 10px auto;
    box-shadow: 2px 2px 8px lightgray;
    width: 65%;
    border: none;
    border-radius: 5px;
}
.text-boxes:hover{
    box-shadow: 1px 1px 10px var(--Monotone-Purple);
    transition: 1s;
}
.text-boxes:focus{
    outline: none;
    box-shadow: 1px 1px 10px var(--Pinkish);
    transition: 1s;
}
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 55vh;
    align-self: center;
    box-shadow: 2px 2px 8px lightgray;
}

.terms-label{
    font-size: 14px;
    margin-top: 20px;
}
.btn{
    margin: 25px auto 0px auto;
    padding: 10px;
    font-size: 25px;
    width: 75%;
    background: var(--Pinkish);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background: var(--Lighter-Pinkinsh);
    transition: 0.25s;
}
.btn:disabled {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
    cursor: not-allowed;
  }
.error{
    font-size: 10px;
    color: red;
    margin-bottom: -15px;   
}
.tos{
    color: var(--Pinkish);
    text-decoration: none;
}
@media (max-width:600px){
    .form-wrapper{
        width: 100vw;
    }
    .form{
        height: 70%;
        width: 75vh;
    }
}